# Ignore virtual environment files inside server/myevn
server/myenv/bin/
server/myenv/lib/
server/myenv/lib64/
server/myenv/pyvenv.cfg

# Python compiled files
server/myenv/__pycache__/
*.pyc
*.py

# macOS system files
.DS_Store

# IDE/editor directories
.vscode/
.idea/

# Python distribution files
*.egg-info/
*.eggs/
dist/
build/
