  .testimonial-section-bottom {
    margin-top: 2rem;
    background-color: rgb(241, 242, 242);
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    border-radius: 2rem;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px 2px 5px grey;
    
  }
  .testimonial-section-bottom {
    margin: 2rem auto;
  }
  .testimonial-section-bottom p {
    font-weight: 700;
    color: #515151;
    max-width: 500px;
    font-size: 1.1rem;
    margin: 2rem 0rem;
  }
  .testimonials-stars-container {
    display: flex;
    justify-content: start;
    margin: 0rem 0.25rem;
    font-size: 1.5rem;
    gap: 5px;   
    color: #fe9e0d;
  }
  .testimonial-section-bottom h2 {
    margin-top: 1.5rem;
  }
  .primary-subheading {
    text-align: center;
  }
  .primary-heading {
    text-align: center;
    max-width: 90%;
    margin-left: 50px;
  }
  .yert{
    display: flex;
    flex-direction: row;
    gap:7px;
  }
  .work-section-wrapper{
    margin: 0px 20px;
   
  }

  .work-section-wrapper.dark-mode .testimonial-section-bottom  {
    background-color: #36414d;
  }
  .work-section-wrapper.dark-mode p{
    color: white;
  }
  
  .testimonials-stars-container {
    display: flex;
    gap: 5px;
    color: #fbbf24; /* Star color remains the same */
  }
  .yert{
    display: flex;
    flex-direction: row;
  }
  @media (max-width: 700px) {
    .yert{
      flex-direction: column;
    }
    .testimonial-section-bottom{
      margin: 0px auto;
    }
  }